

body {
  background-color: rgba(199, 199, 199, 1.0);
}
.grid-container {
    display: grid;
    grid: 100px / 1 auto auto;
    grid-gap: 5px;
    background-color: #b2b2b2;
    padding: 5px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    font-size: 20px;
  }
  
  .txtbox{
          display: block;
          float: left;
          height: 30px;
          width: 300px;
          margin-left: 10px;
        }
  
  .btncls{
      display: block;
      float: left;
      margin: 7px 10px;
      }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff5400;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff5400;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .clibtn {
    background-size: 26px;
    margin: 6px;
    visibility: hidden;
    background-image: url(/img/cli.png); 
    border: 1px solid #ddd;
    border: none;
    border-radius: 3px;
    height: 26px; 
    width: 26px; 
  }

  .options_btn{
    background: url(/img/options.png); 
    width: 24px; 
    height: 24px; 
    border: none;
    float: right;
    position: relative;
    margin: 50px 0px 0px 2px;
  }

  .autofill_btn{
    background: url(/img/auto.png); 
    background-size: 29px;
    background-color: #4d4d4d;
    width: 29px; 
    height: 29px; 
    border: none;
    float: right;
    position: relative;
    margin: 50px -29px 0px 5px;
    --enabled: 0
  }

  .clibtn:hover {
    box-shadow: 0 0 2px 1px #ff5400;
  }