

body {
  background-color: rgba(199, 199, 199, 0.8);
}
.grid-container {
    display: grid;
    grid: 100px / 1 auto auto;
    grid-gap: 5px;
    background-color: #b2b2b2;
    padding: 5px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    font-size: 20px;
  }
  
  .txtbox{
          display: block;
          float: left;
          height: 30px;
          width: 300px;
          margin-left: 10px;
        }
  
  .btncls{
      display: block;
      float: left;
      margin: 7px 10px;
      }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .clibtn {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 6px;
    border-radius: 60%;
  }

  div.a {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    color: dimgray;
  }


  .options_btn{
    background: url(options.png); 
    width: 24px; 
    height: 24px; 
    border: none; 
    float: right;
    position: relative;
    margin: 50px 0px 0px 5px;
  }

  .save_btn {
    margin-top:10px;
    border: none;
    background-color: rgb(139, 139, 139);
    color: rgb(255, 255, 255);
    font-size: 16px;
  }


  .helpimg {
    margin-left: 25px;
    margin-top: 6px;  
    width: 24px;
    height: 24px;
  }

  .layout {
    background-color:#e5e4e3f1;
    font-size: 12px;
    position:fixed;
    z-index: 1;
    width: 200px;
    height: 70px;
    display:none;
    border-style: outset;  
    border-radius: 5%;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;  
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.9;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.9;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.9;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.9;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:0.9;}
  }