[Unit]
Description=AWS AlwasyOn client service
After=dbus.service

[Service]
StandardError=journal
ExecStart=/usr/local/bin/aosvc

[Install]
WantedBy=default.target