<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>aosvc</string>
    <key>ServiceDescription</key>
    <string>AlwaysOn Service</string>
    <key>Program</key>
    <string>/Users/enrique/.local/share/aosvc/bin/aosvc</string>
    <key>EnvironmentVariables</key>
    <dict>
    	<key>PYTHONUNBUFFERED</key>
    	<string>x</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
